.SideBar {
    height: 100%;
    width: 13rem;
    background: lightblue;
    border-width: 2px;
    border-right-style: solid;
    border-right-color: cornflowerblue;
    padding: 1rem;
    flex-shrink: 0;
}